## Settings file was created by plugin MaxPlayerCount v1.2.6
## Plugin GUID: Azumatt.MaxPlayerCount

[1 - General]

## Override the player count that valheim checks for. Default is double the vanilla max of 10. Steam allows 64 max, setting it higher than that might cause issues. I"m unsure of the limit for Playfab/crossplay.
# Setting type: Int32
# Default value: 20
MaxPlayerCount = 20

