## Settings file was created by plugin Shipwright's Touch v1.1.1
## Plugin GUID: com.malafein.shipwrightstouch

[Controls]

## Rename the ship you are looking at (rudder, seats, mast, or hull). Either Shift, Ctrl, or Alt key satisfies a modifier.
# Setting type: KeyboardShortcut
# Default value: E + LeftShift
RenameShip = E + LeftShift

## Cycle the sail color of the ship you are looking at. Either Shift, Ctrl, or Alt key satisfies a modifier.
# Setting type: KeyboardShortcut
# Default value: E + LeftAlt
ChangeSailColor = E + LeftAlt

## Cycle the sail color of a ship while placing it with the hammer.
# Setting type: KeyboardShortcut
# Default value: E
ChangeSailColorWhilePlacing = E

[General]

## Allow deconstructing ships with the hammer (middle-mouse button).
# Setting type: Boolean
# Default value: false
AllowShipDeconstruction = true

## Automatically assign your character as the owner when constructing a ship, restricting modifications (renaming, recoloring, deconstruction) to yourself.
# Setting type: Boolean
# Default value: true
AssignBuilderIdentity = true

