## Settings file was created by plugin MarketStall v2.0.1
## Plugin GUID: RustyMods.MarketStall

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[2 - UI]

## If on, market stall panel will become transparent [Not Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Transparent Panel = Off

## Set panel position [Synced with Server]
# Setting type: Vector2
# Default value: {"x":960.0,"y":540.0}
Panel Position = {"x":960.0,"y":540.0}

[3 - Settings]

## List items that cannot be put up for sale [Synced with Server]
# Setting type: String
# Default value: SwordCheat,SledgeCheat
Filters = SwordCheat,SledgeCheat

## If on, only creator can put items for sale [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Only Creator Can Sell = Off

## Set default model [Synced with Server]
# Setting type: String
# Default value: Haldor
Default Model = Haldor

## If on, only admin can change models [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Only Admin Can Change Model = Off

[Custom Stall]

## Build Category where Custom Stall is available.
# Setting type: BuildPieceCategory
# Default value: Misc
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, DeepNorth, Feasts, Food, Meads, Custom, All
Build Table Category = Misc

# Setting type: String
# Default value: 
Custom Build Category = 

## Tags Custom Stall is listed under in the build menu.
# Setting type: UsageTagFlags
# Default value: Misc
# Acceptable values: Misc, Crafting, Building, Floor, Wall, Roof, Architecture, Furniture, Lighting, Decor, Storage, Transport, Food, Meads, Feasts, Defense, Stacks, Stairs, Doors, Seasonal
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Build Menu Tags = Misc

## Comma separated list of tools where Custom Stall is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Custom Stall is available.
# Setting type: CraftingTable
# Default value: None
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = None

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Custom Stall
# Setting type: String
# Default value: FineWood:20:True,Wood:20:True,Thunderstone:1:True,Bronze:5:True
Crafting Costs = FineWood:20:True,Wood:20:True,Thunderstone:1:True,Bronze:5:True

